/** override bootstrap default **/
html { 
	font-size: 100%;
		display: block;
} 
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.table {
	border: 1px;
	}
	
.container {
  /**
  margin: 0 auto;
  width: 100%;
  **/
  padding: 0px !important;
} 
@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}
/*** bootstrap override above ***/
.form-table {
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: .5em;
    padding-top: -25px; clear: right;
    border: 1px solid silver !important;
}

.form-table input {
    margin-top: 2px;
    margin-right: 2px;

    float: left; display: inline;
    width: 250px;
}

.form-table .description {
    text-transform: none;
    clear: left; float: left;
    text-align: left;
    margin: 0; padding: 0;
    font-style: italic; font-size: 90%;

}

.form-table .required {
    font-weight: bold;
    color: #800;
}

.form-table .required2 {
    text-transform: none;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: #800;
}

.tdfront {
    padding: 8px 10px;
    line-height: 15px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    /***font-size:10px; **/
    white-space: nowrap;
}

.tdsheet1 {
    padding: 8px 10px !important;
    line-height: 15px;
    width: 40% !important;
    background-color: #FFFFFF;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
    white-space: nowrap;
}
.table-sheet1 {
    width: 100%;
    margin-bottom: .5em;
    padding-top: -25px; clear: right;
    border: 1px solid silver !important;
}

.born-highlight {
    background-color: #E0E0F7;
}

.tdback {
   border-bottom: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
   padding: 8px 10px;
    line-height: 15px;
    background-color: #CACACA;
    color: #005689;
    font-size: large;
	position: static; /** added to show borders in firefox **/
	
}
.theader {
    background-color: #EDEDED;
    border-bottom: 1px #ffffff;
    border-right: 1px #ffffff;
    font-size: 12px;
    width: auto;
    border: 1px solid silver;

}

.entry-content table {
    border-bottom: 0;
}

.entry-content a:visited,
.comment-content a:visited {
    color: #104e8b;
}

.entry-content .form-table td {
    border-top: 1px solid #ededed;
}

.entry-content td,
.comment-content td {
    border-top: 0;
    padding: 6px 10px 6px 5px;
}

/*! jQuery UI - v1.10.4 - 2014-06-08
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; 
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}



/*   
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
    position:relative;
    display:block;
    margin:0;
    padding:0;
    border: 0 solid #CCC;
    overflow:none;
    float:left;
    width:99%;
}
.swMain .stepContainer {
    display:block;
    position: relative;
    margin: 0;
    padding:0;    
    border: 0 solid #CCC;
    overflow-x: hidden;
    overflow-y: auto;
    clear:both;
    height:500px;
}

.swMain .stepContainer div.content {
    display:block;
    position: absolute;  
    float:left;
    margin: 0;
    padding:5px;    
    font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
    height: 500px; 
    text-align:left;
    overflow:visible;    
    z-index:88; 
    -webkit-border-radius: 5px;
    -moz-border-radius  : 5px;
    clear:both;
	width: 100%;
}

.swMain div.actionBar {
    display:block;
    position: relative; 
    clear:both;
    margin:             3px 0 0 0;   
    border:             1px solid #CCC;
    padding:            0;    
    color:              #5A5655;   
    background-color:   #F8F8F8;
    height:auto;
    text-align:left;
    overflow:auto;    
    z-index:88; 

    -webkit-border-radius: 5px;
    -moz-border-radius  : 5px;
    left:0;
}

.swMain .stepContainer .StepTitle {
    display:block;
    position: relative;
    margin:0;   
    border:1px solid #E0E0E0;
    padding:5px;   
    font: bold 16px Verdana, Arial, Helvetica, sans-serif; 
    color:#5A5655;   
    background-color:#E0E0E0;
    clear:both;
    text-align:left; 
    z-index:88;
    -webkit-border-radius: 5px;
    -moz-border-radius  : 5px;    
}
.swMain ul.anchor {
    position: relative;
    display:block;
    float:left;
    list-style: none;
    padding: 0;
    margin: 10px 0;      
    clear: both;
    border: 0 solid #CCCCCC;
    background: transparent; /*#EEEEEE */
}
.swMain ul.anchor li{ 
    position: relative; 
    display:block;
    margin: 0;
    padding: 0 3px;
    border: 0 solid #E0E0E0;
    float: left;
}
/* Anchor Element Style */
.swMain ul.anchor li a {
    display:block;
    position:relative;
    float:left;
    margin: 5px 0 0 0;
    padding:3px;
    height:60px;
    width:190px;
    text-decoration: none;
    outline-style:none;
    -moz-border-radius  : 5px;
    -webkit-border-radius: 5px;
    z-index:99;
}
.swMain ul.anchor li a .stepNumber{
    position:relative;
    float:left;
    width:30px;
    text-align: center;
    padding: 0 5px 5px;
    font: bold 45px Verdana, Arial, Helvetica, sans-serif;
}

.swMain ul.anchor li a .stepDesc{
    position:relative;
    display:block;
    float:left;
    text-align: left;
    padding:5px;

    font: bold 20px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc small{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #c0c0c0;
}


.swMain ul.anchor li a.selected{
    color:#F8F8F8;
    background: #005681;  /* 005681 */
    border: 1px solid #005681;
    cursor:text;
    -moz-box-shadow: 5px 5px 8px #888;
    -webkit-box-shadow: 5px 5px 8px #888;
    box-shadow: 5px 5px 8px #888;
}

.swMain ul.anchor li a.selected:hover {
    color:#F8F8F8;  
    background: #005681;  
}

.swMain ul.anchor li a.done { 
    position:relative;
    color:#5a5655;  
    background: #E0E0F7;  
    border: 1px solid #E0E0F7;   
    z-index:99;
}
.swMain ul.anchor li a.done:hover {
    color:#5A5655;  
    background: #E0E0F7; 
    border: 1px solid #5A5655;   
}
.swMain ul.anchor li a.disabled {
    color:#CCCCCC;  
    background: #F8F8F8;
    border: 1px solid #CCC;  
    cursor:text;   
}
.swMain ul.anchor li a.disabled:hover {
    color:#CCCCCC;  
    background: #F8F8F8;     
}

.swMain ul.anchor li a.error {
    color:#6c6c6c !important;  
    background: #f08f75 !important;
    border: 1px solid #fb3500 !important;      
}
.swMain ul.anchor li a.error:hover {
    color:#000 !important;       
}

.swMain .buttonNext {
    display:block;
    float:right;
    margin:5px 3px 0 3px;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    width:100px;
    color:#FFFFFF !important;
    outline-style:none;
    background-color:   #5A5655;
    border: 1px solid #5A5655;
    -moz-border-radius  : 5px; 
    -webkit-border-radius: 5px;    
}
.swMain .buttonDisabled {
    color:#F8F8F8  !important;
    background-color: #CCCCCC !important;
    border: 1px solid #CCCCCC  !important;
    cursor:text;    
}
.swMain .buttonPrevious {
    display:block;
    float:right;
    margin:5px 3px 0 3px;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    width:100px;
    color:#FFFFFF !important;
    outline-style:none;
    background-color:   #5A5655;
    border: 1px solid #5A5655;
    -moz-border-radius  : 5px; 
    -webkit-border-radius: 5px;    
}
.swMain .buttonFinish {
    display:block;
    float:right;
    margin:5px 4px 0 5px;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    width:100px;
    color:#FFFFFF !important;
    outline-style:none;
    background-color:   #5A5655;
    border: 1px solid #5A5655;
    -moz-border-radius  : 5px; 
    -webkit-border-radius: 5px;    
}

/* Form Styles */

.txtBox {
    border:1px solid #CCCCCC;
    color:#5A5655;
    font:13px Verdana,Arial,Helvetica,sans-serif;
    padding:2px;
    width:430px;
}
.txtBox:focus {
    border:1px solid #005681;
}

.swMain .loader {
    position:relative;  
    display:none;
    float:left;  
    margin: 2px 0 0 2px;
    padding:8px 10px 8px 40px;
    border: 1px solid #FFD700; 
    font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
    color:#5A5655;       
    background: #FFF url(../images/loader.gif) no-repeat 5px;  
    -moz-border-radius  : 5px;
    -webkit-border-radius: 5px;
    z-index:998;
}
.swMain .msgBox {
    position:relative;  
    display:none;
    float:left;
    margin: 4px 0 0 5px;
    padding:5px;
    border: 1px solid #FFD700; 
    background-color: #FFFFDD;  
    font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
    color:#5A5655;         
    -moz-border-radius  : 5px;
    -webkit-border-radius: 5px;
    z-index:999;
    min-width:200px;  
}
.swMain .msgBox .content {
    font: normal 12px Verdana,Arial,Helvetica,sans-serif;
    padding: 0;
    float:left;
}
.swMain .msgBox .close {
    border: 1px solid #CCC;
    border-radius: 3px;
    color: #CCC;
    display: block;
    float: right;
    margin: 0 0 0 5px;
    outline-style: none;
    padding: 0 2px 0 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.swMain .msgBox .close:hover{
    color: #005681;
    border: 1px solid #005681;  
}

/** thumbnails in family page ***/
.person-images
{
	border-color:#000000;
	margin-right:6px;
	height: 50px;
	-moz-box-shadow:    1px 1px 1px 0px #777;
	-webkit-box-shadow: 1px 1px 1px 0px #777;
	box-shadow:         1px 1px 1px 0px #777;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
/** upload Image ****/

#upload-wrapper {
    width: auto;
	margin-right: auto;
    margin-left: auto; **/
   background: #F5F5F5;
   padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#666666;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #AAA;
	clear: both;
}
.upload-wrapper input[type="text"],
.upload-wrapper input[type="file"],
.upload-wrapper select,
.upload-wrapper textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 0.8em;
    width: 30%;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.upload-wrapper input[type="text"]:focus,

.upload-wrapper select:focus,
.upload-wrapper textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: #129FEA;
}

.upload-wrapper input[type="file"]:focus
{
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}

.upload-wrapper input[type="text"][disabled],
.upload-wrapper select[disabled],
.upload-wrapper textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.upload-wrapper input[readonly],
.upload-wrapper select[readonly],
.upload-wrapper textarea[readonly] {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

.upload-wrapper input:focus:invalid,
.upload-wrapper textarea:focus:invalid,
.upload-wrapper select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
.upload-wrapper input:focus:invalid:focus,
.upload-wrapper textarea:focus:invalid:focus,
.upload-wrapper select:focus:invalid:focus {
    border-color: #e9322d;
}
.upload-wrapper input[type="file"]:focus:invalid:focus
{
    outline-color: #e9322d;
}
.upload-wrapper select {
    border: 1px solid #ccc;
    background-color: white;
}




.upload-wrapper select[multiple] {
    height: auto;
}
.upload-wrapper label {
    margin: 0.5em 0 0.2em;
    font-size: 90%;
}
.upload-wrapper fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.upload-wrapper-stacked input[type="text"],
.upload-wrapper-stacked select,
.upload-wrapper-stacked label,
.upload-wrapper-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

.upload-wrapper-aligned input,
.upload-wrapper-aligned textarea,
.upload-wrapper-aligned select
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}


/* Aligned Forms */
.upload-wrapper-aligned .upload-control-group {
    margin-bottom: 0.5em;
}

.upload-control-group.description {
    margin-bottom: 0.5em;
}


.upload-wrapper-aligned .upload-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.upload-wrapper .upload-group button {
    margin: 0.35em 0;
}
#submit-btn {

    text-align: center;
    display: inline-block;
    margin:10px;
    width: 150px;
}
#return-btn {

    text-align: center;
    display: inline-block;
    margin: 10px;
	width: 150px
}
#link-btn {
    text-align: center;
    display: inline-block;
    margin: 10px;
	width: 150px;
}
.bordered-div {
border: 1px solid #ccc;
    border: 1px solid #ccc;
    padding: .75em .5em 0.5em .75em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	 margin: 0 0 1em 0;
}
.add-padding {
	padding: 0em 1em 0.75em 1.2em;
}
li.child {
	list-style: none;
}

li.haskids {
	list-style: square;
}